body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button-link {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  background-color: #8ae4ff;
  color:black;
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: aliceblue;
    border: 1px solid rgb(65, 64, 65);
  }
}