<%- include('../partials/header') %>

<h2> Add a New Flight</h2>
<form action="/flights" method="POST">
    <label>Airline:
        <select name="airline">
            <option>American</option>
            <option>Southwest</option>
            <option>United</option>
        </select>
    </label>
    <br>
    <label>Airport:
        <select name="airport">
            <option>AUS</option>
            <option>DFW</option>
            <option selected="selected">DEN</option>
            <option>LAX</option>
            <option>SAN</option>
        </select>
    </label>
    <br>
    <label>Flight No:
        <input type="number" name="flightNo">
    </label>
    <br>
    <label>Departs:
        <input type="datetime-local" name="departs">
    </label>
    <br>
    <button type="submit">Add Flight</button>
</form>

<%- include('../partials/footer') %>
